body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2,h3,h4,h5,h6 {
    font-weight: 700;
}

/* common padding */

.padding-7-15 {
    padding: 7% 15%;
}

/* Container */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

/* Title */

#title {
    text-align: left;
}

.title-container {
    padding: 0% 15% 0%;
}

/* heading */

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Title - Navigation Bar */

.navbar {
    padding: 2rem 0 3rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}


.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* Title - Download Button */

.Download-Button {
    margin: 7% 3% 7% 0;
}

/* Title Image */

.title-img {
    width: 50%;
    transform: rotate(20deg);
    position: relative;
    left: 23%;
    top: 30px;
}

/* Features */

#features {
    background-color: #fff;
    position: relative;
    z-index: 1; /* using z-index */
}

.feature-title {
    font-size: 1.5rem;
}

.each-row {
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    font-size: 4rem;
}

#features p {
    color: #8f8f8f
}

.features-common:hover {
    color: #ff4c68;
}


/* testimonials */

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* press */

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    padding: 20px 20px 50px;
}

/* pricing */

#pricing {
    padding: 7% 5%;
}

#pricing .row {
    margin: 0;
}

#pricing .col-lg-4 {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Call to Action */

.Download-Button2 {
    margin: 5% 2% 0% 2%;
}

/* footer */

.footer-links{
    padding: 5% 0% 1%;
}

.footer-common {
    padding: 0% 3%;
    cursor: pointer;
}

#footer p {
    font-size: 85%;
    padding-bottom: 2.5%;
}

/* Media Query Breakpoint */

@media (max-width : 1287px) and (min-width : 992px){

    #title {
        text-align: center;
    }

    .title-img{
        width: 250px;
        position: static;
        transform: rotate(0deg);
        padding: 5% 0% 10%;
    }

}

@media (max-width : 991px) {
    #title {
        text-align: center;
    }

    .title-img{
        width: 225px;
        position: static;
        transform: rotate(0deg);
        padding: 2% 0 7%;
    }
}

@media (max-width: 500px) {
    .big-heading {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .navbar-brand{
        font-weight: 400;
        font-size: 2rem;
    }

    .title-container {
        padding: 0% 5% 0%;
    }

    .button1{
        margin: 5% 2% 6% 0;
    }

    .button2{
        margin: 5% 0 6% 2%;
    }

    .testimonial-img {
        width: 20%;
    }

    .testimonial-text {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .press-logo {
        width: 25%;
        padding: 20px 20px 50px;
    }

    #cta {
        padding: 3% 6%;
    }

    .footer-common {
        padding: 0% 5%;
    }
}
